In [4]:
type(True)

bool

In [20]:
bool()

False

In [6]:
name="Siddharthmalhotra"
print(name.isalnum()) # alphanumeric means either letters or numbers
print(name.isalpha()) # all character should be alphabet
print(name.isdigit()) # all characters should be digits
print(name.istitle()) # title means if the first letter contains capital letter , 
#it will check only alphabet ignores numbers if any other letter has capital letter then print false 

#important 

print(name.endswith('a'))
print(name.startswith("S")) #case sensitive

True
True
False
True
True
True

In [7]:
name1="123Siddharth 123"
print(name1.isalnum()) #since space is not alphanumeric
print(name1.isalpha())
print(name1.isdigit())
print(name1.istitle())

False
False
False
True

In [8]:
name2 = "siddharth123"
print(name2.isalnum())
print(name2.isalpha())
print(name2.isdigit())
print(name1.endswith('h')) 
print(name1.endswith('3'))

True
False
False
False
True

In [9]:
name3 = "123456"
print(name3.isalnum())
print(name3.isalpha())
print(name3.isdigit())

True
False
True

In [10]:
# List 
# list is a data structure in python , its mutable , changeable ,ordered sequence of elements. inside list called item, use of []

In [17]:
lst_example = [1,2,3]
type(lst_example)

list

In [22]:
#creation of the empty list 
lst=list()
print(lst)

[]

In [24]:
#creation of the list 
lst=['Mathematics', "science",1,2,3]
print(lst)

['Mathematics', 'science', 1, 2, 3]

In [31]:
#append --> add element in the end of the list
lst.append("siddharth")
print(lst)
print(lst[2])

['Mathematics', 'science', 'Krishna', 'Krishna', 1, 2, 3, 'siddharth', 'siddharth', 'siddharth', 'siddharth', 'siddharth']
Krishna

In [32]:
#insert--->add elements in any order
lst.insert(2,'Krishna') #2nd index mein krishna aajayega 
print(lst)

['Mathematics', 'science', 'Krishna', 'Krishna', 'Krishna', 1, 2, 3, 'siddharth', 'siddharth', 'siddharth', 'siddharth', 'siddharth']

In [37]:
#extend method---> add multiple values in the last
lst=[1,2,3,4,5,6,7]
lst.extend([3,4])
print(lst)

[1, 2, 3, 4, 5, 6, 7, 3, 4]

In [38]:
#various operation can perform 
sum(lst) # error--> lst.sum()

35

In [39]:
lst.pop()

4

In [40]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 3]

In [42]:
#count method 
lst=[1,1,2,11,3,4,4,5,6]
lst.count(1)

2

In [43]:
len(lst)  #count the number of element in the list

9

In [44]:
#index ---> print the index of that particular element presence.start and end paramters are not necessary
lst.index(1)

0

In [46]:
lst.index(1,1,4)   # iska mtlb ki 1 konsa index mein present hai starting from 1st index and end with 4th index

1